<div class="container">
  <div class="">
    <button (click)="regresar()" class="btn btn-danger" type="button" name="button">Regresar</button>
  </div>
  
  <div class="text-center">
    <h1>Listar</h1>
    <hr>
  </div>

  <div class="">
    <div class=" table table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" >Titulo  </th>
            <th scope="col" > Nombre </th>
            <th scope="col" >Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of vacaciones | keys; let i = index">
            <td >{{i + 1}}</td>
            <td >{{vacaciones[key].titulo}}</td>
            <td >{{vacaciones[key].solicitante}}</td>
            <td>
              <button  (click)="ver(vacaciones[key])" class="btn btn-info" type="button" name="button">Ver</button>
              <button (click)="editar(vacaciones[key]) "class="btn btn-warning" type="button" name="button">Editar</button>
              <button (click)="eliminar(vacaciones[key])" class="btn btn-danger" type="button" name="button">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
