<div class="container">

  <div class="">
    <button (click)="regresar()" class="btn btn-danger" type="button" name="button">Regresar</button>
  </div>

  <form (ngSubmit)= "guardar(forma)" #forma= "ngForm" [ngClass]="{'was-validated':!success}">
    <div class="text-center">
      <h1>Agregar Vacaciones</h1>
      <hr>
    </div>


    <div class="col-md-12 marginBotton row">

      <div class="col-md-6 marginBotton">
        <div class="">
          <h4>Título de Vacación</h4>
        </div>
        <div class="">
          <input
          [(ngModel)]="vacaciones.titulo"
          type="text"
          name="titulo"
          value=""
          class="form-control"
          placeholder="Ingrese titulo"
          required>
        </div>
      </div>

      <div class="col-md-6 marginBotton">
        <div class="">
          <h4>Solicitante (Nombre Completo)</h4>
        </div>
        <div class="">
          <input
          [(ngModel)]="vacaciones.solicitante"
          type="text"
          name="solicitante"
          value=""
          class="form-control"
          placeholder="Ingrese Nombre Solicitante"
          required>
        </div>
      </div>

      <div class="col-md-6 marginBotton">
        <div class="">
          <h4>Fecha de Vacación</h4>
        </div>
        <div class="">
          <my-date-picker [(ngModel)]="elemento.fechaV" name="fechaV" [options]="myDatePickerOptions"></my-date-picker>
        </div>
      </div>

      <div class="col-md-6 marginBotton">
        <div class="">
          <h4>Lugar de Vacación</h4>
        </div>
        <div class="">
          <input
          [(ngModel)]="elemento.lugar"
          type="text"
          name="lugar"
          value=""
          class="form-control"
          placeholder="Lugar de Vacación"
          required>
        </div>
      </div>



      <div class="col-md-12 marginBotton text-center">
        <button (click)="agregar()" class="btn btn-success" type="button" name="button">Agregar Vacaciones</button>
      </div>

      <div class="col-md-12 marginBotton jumbotron">
        <div class="col-md-12 marginBotton">
          <div *ngFor="let i of listaV; let ix=index" class="row">
            <div class="col-md-4">
              <label for="">Fecha de Vacaciones: {{i.fechaV.formatted}}</label>
            </div>
            <div class="col-md-4">
              <label for="">Lugar: {{i.lugar}}</label>
            </div>
            <div class="col-md-4">
              <button (click)="eliminar(ix) "class="btn btn-danger"type="button" name="button">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 marginBotton">
        <div class="">
          <h4>Fecha de Ingreso</h4>
        </div>
        <div class="">
          <input
          [(ngModel)]="vacaciones.fechaI"
          type="text"
          name="fechaI"
          value=""
          class="form-control"
          placeholder="Ingrese titulo"
          required
          disabled>
        </div>
      </div>

    </div>

    <div class="col-md-12 marginBotton">
      <button class="btn btn-primary btn-block" type="submit" name="button">Agregar</button>
    </div>
  </form>
</div>
