<div class="container">

  <form (ngSubmit)= "guardar(forma)" #forma= "ngForm" [ngClass]="{'was-validated':!success}">
    <div class="text-center">
      <h2>Agregar Vacaciones</h2>
      <hr>
    </div>


    <div class="col-md-12 row">

      <div class="col-md-6">
        <div class="">
          <h3>Título de Vacación</h3>
        </div>
        <div class="">
          <input
          [(ngModel)]="vacaciones.titulo"
          type="text"
          name="titulo"
          value=""
          class="form-control"
          placeholder="Ingrese titulo"
          required>
        </div>
      </div>

      <div class="col-md-6">
        <div class="">
          <h3>Solicitante (Nombre Completo)</h3>
        </div>
        <div class="">
          <input
          [(ngModel)]="vacaciones.solicitante"
          type="text"
          name="solicitante"
          value=""
          class="form-control"
          placeholder="Ingrese Nombre Solicitante"
          required>
        </div>
      </div>

      <div class="col-md-6">
        <div class="">
          <h3>Fecha de Vacación</h3>
        </div>
        <div class="">
          <my-date-picker [(ngModel)]="elemento.fechaV" name="fechaV" [options]="myDatePickerOptions"></my-date-picker>
        </div>
      </div>

      <div class="col-md-6">
        <div class="">
          <h3>Lugar de Vacación</h3>
        </div>
        <div class="">
          <input
          [(ngModel)]="elemento.lugar"
          type="text"
          name="lugar"
          value=""
          class="form-control"
          placeholder="Lugar de Vacación"
          required>
        </div>
      </div>



      <div class="col-md-12 text-center">
        <button (click)="agregar()" class="btn btn-success" type="button" name="button">Agregar Vacaciones</button>
      </div>

      <div class="col-md-6">
        <div class="">
          <h3>Fecha de Ingreso</h3>
        </div>
        <div class="">
          <input
          [(ngModel)]="vacaciones.fechaI"
          type="text"
          name="fechaI"
          value=""
          class="form-control"
          placeholder="Ingrese titulo"
          required
          disabled>
        </div>
      </div>

    </div>

    <div class="col-md-12">
      <button class="btn btn-primary btn-block" type="submit" name="button">Agregar</button>
    </div>
  </form>
</div>
